*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #FFCF71;
}
#moviesContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.movieCard {
  width: 165px; 
  display: flex;
  flex-direction: column;
  background: #B6771D;
  margin: 20px;
  padding: 19px;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  
}

.movieCard img {
  width: 100%;
  border-radius: 6px;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  background-color: #b77534; 
  padding: 12px 20px;
  margin-right: 0px;
}


.navBar button {
  background-color: #e6e6e6;
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
}

.btn{
    background-color: #e6e6e6;
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}


.navBar button:hover {
  background-color: #d6d6d6;
}



.search {
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 12px;
  padding: 6px 10px;
}


.search input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  width: 120px;
}


.search .icon {
  font-size: 14px;
  margin-left: 6px;
}
